@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --prussian-blue: #0C3457ff;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--prussian-blue);
  overflow: hidden;
}