@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --prussian-blue: #0C3457ff;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--prussian-blue);
  overflow: hidden;
}
.always-filled {
  /* Needs to be inside position: relative; and accompanied by a @media */
  max-width: none;
  max-height: 100vh;
  position: absolute;
  top: 50vh;
  left: 50%; 
  transform: translate(-50%, -50%);
}
@media only screen and (min-aspect-ratio: 16/9) {
  .always-filled {
    max-width: 100%;
    max-height: none;
  }
}
.up-shadow {
  position: absolute;
  width: 100%;
  box-shadow: 0 0 23vh 32vh var(--prussian-blue);
  clip-path: inset(-100vh 0 0 0);
  transform: translate(0%, 100vh);
}
.ttt {
  width: 100%;
  height: 50vh;
  /* 50 - height/2 */
  transform: translate(0%, 50vh);
  position: absolute;
  /* background-color: rgba(201, 192, 25, 0.526); */
}
.ttt1 {
  /* width: 50%; */
  height: 100%;
  margin: auto;
  text-shadow: 0 1px 2px #000;
  /* background-color: rgba(60, 25, 201, 0.304); */
}
.ttt2 {
  font-stretch: ultra-expanded;
}