@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --prussian-blue: #002547;
  /* --prussian-blue: #0C3457ff; */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--prussian-blue);
  overflow: hidden;
}
.always-filled {
  /* Needs to be inside position: relative; and accompanied by a @media */
  max-width: none;
  max-height: 100vh;
  position: absolute;
  top: 50vh;
  left: 50%; 
  transform: translate(-50%, -50%);
}
@media only screen and (min-aspect-ratio: 16/9) {
  .always-filled {
    max-width: 100%;
    max-height: none;
  }
}
.up-shadow {
  position: absolute;
  width: 100%;
  box-shadow: 0 0 23vh 32vh var(--prussian-blue);
  clip-path: inset(-100vh 0 0 0);
  transform: translate(0%, 100vh);
}
.details {
  margin-left: 0;
  padding: 64vh 0 0;
  position: absolute;
}
.ttt1 {
  padding: .2em 6vw .4em;
  text-shadow: 0 1px 2px #000;
  color: #dedede;
  background-image: linear-gradient(to right,  #17110a , rgba(255, 255, 0, 0));
}
.the-bros {
  position: absolute;
  left: 50%; 
  margin: 16vh auto;
  transform: translate(-50%, 0);
  white-space: nowrap
}
.the-bros > * {
  background-color: #ffffff;
  border-radius: 5px;
  margin: .5em;
  padding: .5em 1em;
}